
[Desktop Entry]
Name=Notepad
Comment=Text Editor
Exec=notepad
Icon=notepad
Terminal=false
Type=Application
Categories=X-Wine;
X-Desktop-File-Install-Version=0.18
