
[Desktop Entry]
Name=WineMine
Comment=Wine Minesweeper 
Exec=winemine
Icon=winemine
Terminal=false
Type=Application
Categories=Game;LogicGame;
X-Desktop-File-Install-Version=0.18
