
[Desktop Entry]
Name=Wine Help
Comment=Windows Help Browser
Exec=wine winhlp32
Icon=winhelp
Terminal=false
Type=Application
Categories=X-Wine;
X-Desktop-File-Install-Version=0.18
