#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Sprunge
TryExec=/usr/bin/sprunge
Exec=/usr/bin/sprunge
Icon=sprunge
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Office;
X-KDE-SubstituteUID=true

