[Unit]
Description=radeon-profile daemon

[Service]
Type=simple
ExecStart=/usr/sbin/radeon-profile-daemon
ExecStop=/usr/bin/killall radeon-profile-daemon
ExecReload=/usr/bin/killall radeon-profile-daemon && /usr/sbin/radeon-profile-daemon

[Install]
WantedBy=multi-user.target
