# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Java classes
*.class

# dump logs
*.log
core

# Deb/RPM/tar files
*.tar.gz
*.deb
*.rpm

# moc_* files
moc_*.*
qrc_*.*

# autosave files
*.autosave

# Vim backup files
*~

# Nixnote database backup files
*.nnex

# Makefiles
Makefile*

# user files
*.pro.*

# KDE workfile
.directory
/.project

# eclipse files
.cproject
.settings

/cmake-build-*
/qmake-build-*
testsrc/qmake-build-*
/docker-build-*
/build-*

# idea
.idea/workspace.xml
.idea/misc.xml
.idea/tasks.xml
.idea/dictionaries
.idea/watcherTasks.xml

# QMake file
.qmake.stash

# AppImage files
*.AppImage
/appdir

/_build_dir_.txt


